.productCard {
  height: 225px;
  width: 150px;
  float: left;
  border-style: solid;
  border-width: thin;
  overflow: hidden;
}

.relatedPhoto {
  height: 150px;
  width: auto;
  object-fit: cover;
  overflow: hidden;
}

.relatedCarousel {
  height: 200px;
}

.outfits {
  clear: both;
  height: 200px;
}