.productCard {
  position: relative;
  margin: auto;
  height: 40vh;
  float: left;
  border-style: solid;
  border-width: thin;
  overflow: scroll;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
  -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
  scrollbar-width: none;  /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.productCard::-webkit-scrollbar, .productCard::-webkit-scrollbar {
  display: none;
}

.card-wrapper {
  width: 23vw;
  text-align: center;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.productCard.add {
  overflow: hidden;
}

.relatedPhoto {
  height: 25vh;
  width: 25vh;
  object-fit: cover;
  overflow: hidden;
  /* display: inline-block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; */
  position: relative;
}

.addPhoto {
  font-size: 30vh;
  object-fit: cover;
  overflow: hidden;
  position: relative;

}

.related {
  clear: both;
  max-width: 1200;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64;
}

.outfits {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64;
}

.actionButton {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 2vw;
  width: 2vw;
  z-index: 1;
  cursor: pointer;
}

/* CAROUSEL STYLES */

.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.carousel-content-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-content {
  display: flex;
  transition: all 250ms linear;
  -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
  scrollbar-width: none;  /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}

.carousel-content.show-2 > * {
  width: 50%;
}

.carousel-content.show-3 > * {
  width: calc(100% / 3);
}

.carousel-content.show-4 > * {
  width: 25%;
}

.left-arrow, .right-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: white;
  border: 1px solid #ddd;
}

.left-arrow {
  left: 24px;
}

.right-arrow {
  right: 24px;
}

/* MODAL SETTINGS */

.relatedModal {
  position: fixed;
  justify-content: center;
  align-items: center;
  display:flex;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
}

.modalWrapper {
  max-height: 80vh;
  overflow: scroll;
  padding: 10px;
  background: #fff;
  color: #000;
  border-radius: 10px;
}

.relatedModalContent {
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  border-style: solid;
  background-color:rgb(255, 255, 255, 0.9);
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
}

.starCard {
  align-self: left;
}
