.productOverview {
  display: flex;
  margin-bottom: 20px;
}

.productName {
  font-size: 30px;
  font-weight: bold;
  padding: 20px 0 20px 0;
}

.productPhotos {
  display: flex;
}
.mainPhotoContainer {
  position: relative;
}

.displayedPhoto {
  display: flex;
  height: 600px;
  width: 575px;
}

.buttonToEnlarge {
  position: absolute;
  width: 25px;
  height: 30px;
  border: none;
  border-radius: 90px;
  right: 15px;
  top: 15px;
}

.MIleftArrow, .MIrightArrow {
  position: absolute;
  z-index: 1;
  top: 350px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 24px;
  opacity: 70%
}

.MIleftArrow {
  left: 100px;
}

.MIrightArrow {
  left: 500px;
}

.thumbnailList {
  display: flex;
  flex-direction: column;
  height: 585px;
  overflow-y: scroll;
  position: absolute;
  z-index: 1;
}

.thumbnailList::-webkit-scrollbar {
  display: none;
}

.thumbnailListItem {
  height: 80px;
  width: 70px;
  border: solid transparent;
}

.productMainPhotoThumbnail {
  border: solid brown;
}

.descriptionOverviewContainer {
  justify-content: left;
}

.descriptionOverview {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
}

.starsInDescription .starBar {
  position: static;
}

.descriptionRating {
  font-size: 12px;
}

.category {
  text-transform: uppercase;
  padding-top: 10px;
}

.originalPrice {
  color: red;
  text-decoration: line-through;
}
.slogan {
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 10px;
}

.detailedDescription {
  padding-top: 10px;
}

.descriptionAndFeatures {
  display: flex;
  margin: 20px 0 15px 20px;
  max-width: 600px;
}

.styleName {
  padding: 0 0 20px 0;
}

.styles {
  margin: 20px;
  padding: 10px;
}

.styleSelector {
  display: flex;
  width: 375px;
  flex-wrap: wrap;
}

.productStyle{
  position: relative;
}

.stylePhoto {
  display: flex;
  height: 90px;
  width: 80px;
  border-radius: 60% ;
  padding: 5px;
}

.styleCheckMark {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  background-color: white;
  border-radius: 100px;
  height: 18px;
  width: 18px;
  text-align: center;
  vertical-align: center;
  border: 1px solid black;
}

.addToCart {
  margin: 20px;
  padding: 10px;
}

.sizeAndQuantity {
  display: flex;
}

.detailedDescription {
  display: flex;
}

.socialMediaInfo {
  display: flex;
  margin: 20px;
}

.socialMediaIcon {
  height: 50px;
  width: 50px;
  padding: 5px;
}

/* Modal Styling */

.mainPhotoModal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display:flex;
  margin: 30px 0 0 9px;
  /* justify-content: center; */
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
}

.mainPhoto-modal-content {
  display: flex;
  height: 90%;
  width: 90%;
  /* padding: 25px; */
  background-color:rgba(212, 211, 199, 0.979);
  box-shadow: 10px 25px 50px 10px rgba(71, 71, 70, 0.424), 0 12px 25px 0 rgba(0, 0, 0, 0.19);
  z-index: 5;
  justify-content: center;
  border-style: unset;
  align-items: center;
  /* border-radius: 2%; */
}

.mainPhoto-modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalMainPhoto {
  cursor: zoom-in;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 80%;
  max-width: 1100px;
  height: 80%;
  max-height: 1000px;
  z-index: 2;
  top: 50%;
  left: 50%;
}

.mainPhoto-modal-footer {
  display: flex;
  flex-direction: column;
  max-height: 90%;
  max-width: 90%;
}

.modalThumbnail {
  height: auto;
  width: auto;
}

.modalZoomedInMainPhoto {
  cursor: zoom-out;
  justify-content: center;
  align-items: center;
  position:fixed;
  margin: 0 50px 0 40px;
  width: 100%;
  max-width: 2750px;
  height: 100%;
  max-height: 2500px;
  z-index: 10;
}

.modalLeftArrow, .modalRightArrow {
  position: fixed;
  z-index: 3;
  top: 150px;
  /* transform: translateY(-50%); */
  width: 40px;
  height: 40px;
  border-radius: 24px;
  opacity: 70%
  /* background-color: white;
  border: 1px solid #ddd; */
}

.modalLeftArrow{
  left: 6%;
}

.modalRightArrow {
  left: 82%;
}