.productOverview {
  display: flex;
}

.productPhotos {
  display: flex;
}

.displayedPhoto {
  display: flex;
  height: 300px;
  width: 275px;
}

.thumbnailList {
  display: flex;
}

.descriptionOverview {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
}

.detailedDescription {
  display: flex;
}