.questions {
  clear: both;
  display: grid;
  grid-template-columns: 13% 162px auto 13%;
  grid-template-rows: 60px auto 52px;
}

.add-question {
  grid-column: 3;
  grid-row: 3;
  margin-top: -42px;
  margin-left: 80px;
}

.title {
  font-size: 25px;
}

.qa-list-container {
  justify-self: center;
  grid-column: 2/4;
  width: 100%;
  grid-row: 2/3;
}

.qa-list-grid {
  grid-row: 2;
  grid-column: 2/3;
}

.qa-list {
  overflow-y: scroll;
  max-height: 80vh;
  width: 100%;
  grid-row: 2;
  grid-column: 2/3;
}

.emptyDiv {
  height: 50px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
}

.modal-content {
  display: flex;
  height: 40%;
  width: 40%;
  background-color:rgba(212, 211, 199, 0.979);
  box-shadow: 10px 25px 50px 10px rgba(71, 71, 70, 0.424), 0 12px 25px 0 rgba(0, 0, 0, 0.19);
  z-index: 5;
  justify-content: center;
  border-style: unset;
  flex-direction: column;
}

/* .modal-header {

 } */

/* .modal-title {

 } */

/* .modal-subtitle {

} */

textarea {
  resize: none;
}
/*
.modal-body {

} */

/* .modal-footer {

} */

.warning {
  font-size: small;
  font-style: italic;
}

label {
  font-size: 20px;
}

.email-text-box {
  width: 230px;
}

.searchGrid {
  display:grid;
  grid-template-rows: 10% auto;
  grid-template-columns: 10% auto 10%;
}

.search-text-box {
  justify-self: auto;
  font-size: 25px;
  height: 50px;
  width: 90%;
  grid-column: 2/3;
}

.question-form {
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
}

.modal-text {
 margin-left: 10px;
}

button {
  border-style: solid;
  background-color: white;
  height: 50px;
  width: 150px;
  font-weight: 600;
  border-width: thin;
  cursor: pointer;
}

.link {
  color: blue;
  text-decoration:underline;
  cursor: pointer;
}

.clickable {

}

.QAEntry {
  display: grid;
  border-top: white;
  border-left: white;
  border-right: white;
  border-bottom: black;
  border-style: solid;
  grid-template-columns: 2;
}

.qEntry {
  display: grid;
  border-top: white;
  border-left: white;
  border-right: white;
  border-bottom: rgb(207, 207, 207);
  border-style: dotted;
  padding-bottom: 10px;
  padding-top: 10px;
  grid-template-columns: 70% 30%;
}

.aEntry {
  padding-top: 10px;
  padding-bottom: 10px;
}
