.questions {
  clear: both;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(114, 0, 167, 0);
}

.modal-content {
  border-style: solid;
  background-color:rgb(132, 0, 255, 0.5);
}