.reviewBreakdown {
  margin: 0px 50px 0px 25px;
}

.reviews {
  margin-top: 20px;
  display: flex;
  justify-content: left;
}

h1 {
  margin: 0px;
  color: #525252
  ;
}

h6 {
  margin: 10px 0px;
  color:rgb(56, 56, 56);
  font-weight: 100;
}

h5 {
  margin: 5px;
  text-decoration: underline;
  color:grey;
  font-weight: 100;
}

h4 {
  color:rgb(56, 56, 56);
  font-weight: 100;
  margin-left: 25px;
}

.reviewEntry {
  display: flexbox;
  border-bottom-style: solid;
  border-width: thin;
  margin-bottom: 20px;
}

/* Review Entry box */
.rating {
  display: inline-block;
  margin-bottom: 20px;
}

.date {
  display: inline-block;
  margin-left: 300px;
  color:grey;
  font-weight: 100;
  font-size: 12px;
}

.summary,
.body,
.response {
  margin-bottom: 20px;
}

.helpful {
  margin-bottom: 10px;
  color:grey;
  font-weight: 100;
}

.response {
  background-color: #ebebeb
  ;
  height: 70px;
  padding-left: 20px;
  padding-top: 10px;
}

.body {
  color:rgb(104, 103, 103);
  font-weight: 100;
}