.reviewBreakdown {
  margin: 0px 15px 0px 15px;
  width: 25%;
}

.reviews {
  margin-top: 20px;
  display: flex;
  justify-content: left;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

.moreReviews {
  margin-right: 18px;
}

.moreReviews,
.addReview {
  border-style: solid;
  background-color: white;
  height: 50px;
  width: 150px;
  font-weight: 600;
  border-width: thin;
}

h1 {
  margin: 0px;
  color: #525252;
  font-size: 60px;
  display: inline;
}

h6 {
  margin: 10px 0px;
  color:rgb(56, 56, 56);
  font-weight: 100;
  font-size: 15px;
}

.starRatings {
  margin: 5px;
  text-decoration: underline;
  color:grey;
  font-weight: 100;
  height: 20px;
  display: flex;
}

h4 {
  color:rgb(56, 56, 56);
  font-weight: 100;
  margin-left: 11%;
}

.reviewEntry {
  display: flexbox;
  border-bottom-style: solid;
  border-width: thin;
  margin-bottom: 20px;
}

.reviewList {
  width: 60%;
  margin-left: 0px;
}

/* Review Entry box */
.rating {
  display: inline-block;
  margin-bottom: 20px;
}

.date {
  display: inline;
  margin-left: auto;
  margin-right: 0px;
  color:grey;
  font-weight: 100;
  font-size: 12px;
  float: right;
}

.summary,
.body,
.response {
  margin-bottom: 20px;
}

.helpful {
  margin-bottom: 10px;
  color:grey;
  font-weight: 100;
}

.response {
  background-color: #ebebeb
  ;
  height: 70px;
  padding-left: 20px;
  padding-top: 10px;
}

.body {
  color:rgb(104, 103, 103);
  font-weight: 100;
}

.reviewpics {
  width: 45px;
  height: 45px;
  margin-right: 3%;
}

.reviewsTotal,
.dropDown {
  display: inline;
}

.reviewsTotal {
  margin-right: 1%;
}

.dropDown {
  font: 400 12px/1.3 sans-serif;
  -webkit-appearance: none;
  appearance: none;
  color: var(--baseFg);
  border: 1px solid var(--baseFg);
  line-height: 1;
  outline: 0;
  padding: 0.65em 2.5em 0.55em 0.75em;
  border-radius: var(--radius);
  background-color: var(--baseBg);
  background-image: linear-gradient(var(--baseFg), var(--baseFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
  background-position: right 20px center, right bottom, right bottom, right bottom;
  border-bottom-style: solid;
  border-width: thin;
}


/* svg {
  margin-bottom: 2em;
} */

.rating__background {
  fill: #eeeee8;
  height: 20%;
  width: 100%;
  border: black;
}

.rating__value {
  fill: #70c75f;
  height: 20%;
}

.ratingBar {
  height: 35px;
  width: 200px;
  float: bottom;
  margin-top: 1.5%;
  margin-left: 1.5%;
}

.starBar {
  display: inline;
  font-size: 2px;
  margin: 0px;
  position: absolute;
  float: top;
  margin-left: 1%;
  margin-top: 1%;
}

.boxContainer {
  width: 100%;
  height: 15px
}

.box {
  width: 100%;
  height: 10px;
  background-color: #eeeee8;
  position: inherit;

}

.otherBox {
  width: 30px;
  height: 1px;
  left: 45%;
  position: relative;
  width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid rgb(247, 105, 10);
}