.reviewBreakdown {
  margin: -50px -19px 0px 100px;
  width: 30%;
}

.reviews {
  margin-top: 20px;
  display: flex;
  justify-content: left;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

.moreReviews {
  margin-right: 18px;
}

.summary {
  color: #3d3d3d;
}

.seeMore {
  color: #666161;
  font-weight: bold;
  transition: .5s;
}

.seeMore:hover {
  color: black;
  cursor: pointer;
  transition-delay: .3s;
}

.moreReviews,
.addReview {
  border-style: solid;
  background-color: white;
  height: 50px;
  width: 150px;
  font-weight: 600;
  border-width: thin;
  transition: .5s;
  display: inline;
  margin-right: 2.5%;
}

.noReviewsBtn {
  border-style: solid;
  background-color: white;
  height: 150px;
  width: 350px;
  font-weight: 600;
  border-width: thin;
  transition: .5s;
  display: block;
  position: absolute;
  top: 277%;
  margin-right: 2.5%;
}

.moreReviews:hover,
.addReview:hover,
.noReviewsBtn:hover {
  background-color: lightgray;
  cursor: pointer;
}

.reviewBtnBox {
  margin-left: 40%;
  margin-bottom: 5%;
  margin-top: 4px;
}

h1 {
  margin: 0px;
  color: #525252;
  font-size: 80px;
  display: inline;
}

.percentReviews {
  margin: 40px 0px 20px 0px;
  color:rgb(53, 50, 50);
  font-weight: 100;
  font-size: 13px;
}

#rating-count {
  font-size: 16px;
  text-decoration: none;
}

.starRatings {
  margin: 5px;
  text-decoration: underline;
  color:rgb(59, 57, 57);
  font-weight: 100;
  height: 20px;
  width: 300px;
  display: flex;
  transition: .3s;
}

.starRatings1 {
  margin-right: 908px;
  font-size: 17px;
}

.starRatings:hover {
  color:rgb(66, 65, 65);
  cursor: pointer;
}

.ratingAvgStars {

}

#ratingsReview {
  color:rgb(56, 56, 56);
  font-weight: 100;
  font-size: 20px;
  margin-left: 17%;
  margin-bottom: 50px;
  margin-top: 70px;
}

.reviewEntry {
  display: flexbox;
  border-bottom-style: solid;
  border-width: thin;
  margin-bottom: 20px;
  width: 89%;
}

.reviewList {
  width: 60%;
  margin-left: 0px;
  height: 600px;
  overflow: scroll;
}

.reviewList::-webkit-scrollbar {
  display: none;
}

/* Review Entry box */
#rating {
  display: inline-block;
  position: relative;
  /* margin-left: -2.5%; */
  margin-top: 0%;
  height: 0px;
  width: 40%;
  margin-bottom: 6%;
  margin-left: -.5%;
}

.date {
  display: inline;
  margin-left: auto;
  margin-right: 0px;
  margin-top: .5%;
  color:rgb(44, 43, 43);
  font-weight: 100;
  font-size: 12px;
  float: right;
}

.summary,
.body,
.response {
  margin-bottom: 20px;
}

.helpful {
  margin-bottom: 10px;
  color:rgb(54, 53, 53);
  font-weight: 100;
}

.helpReport {
  transition: 1s;
}

.helpReport:hover {
  color:rgb(54, 53, 53);
  cursor: pointer;
}

.response {
  background-color: #ebebeb
  ;
  height: 70px;
  padding-left: 20px;
  padding-top: 10px;
}

.body {
  color:rgb(70, 68, 68);
  font-weight: 100;
  overflow-wrap: break-word;
}

.reviewpics,
.modalPictures {
  display: inline;
  width: 90px;
  height: 90px;
  margin-right: 3%;
  border-style: double;
  border-color: rgb(168, 164, 164);

}

.reviewsTotal,
.dropDown {
  display: inline;
}

.reviewsTotal {
  margin-right: 1%;
  margin-left: 39.5%;
}

.dropDown {
  font: 400 12px/1.3 sans-serif;
  -webkit-appearance: none;
  appearance: none;
  color: var(--baseFg);
  border: 1px solid var(--baseFg);
  line-height: 1;
  outline: 0;
  padding: 0.65em 2.5em 0.55em 0.75em;
  border-radius: var(--radius);
  background-color: var(--baseBg);
  background-image: linear-gradient(var(--baseFg), var(--baseFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
  background-position: right 20px center, right bottom, right bottom, right bottom;
  border-bottom-style: solid;
  border-width: thin;
}


/* svg {
  margin-bottom: 2em;
} */

.rating__background {
  fill: #d8d8d1;
  height: 30%;
  width: 100%;
  border: black;
}

.rating__value {
  fill: #70c75f;
  height: 30%;
}

.ratingBar {
  height: 35px;
  width: 200px;
  float: bottom;
  margin-top: 1.5%;
  margin-left: 1.5%;
}

.starBarAvg {
  display: inline;
  font-size: 0px;
  margin: 0px;
  position: absolute;
  float: top;
  margin-left: 1%;
  margin-top: 1%;
  z-index: -1;
}

.starBarReview {
  display: inline;
  font-size: 2px;
  margin: 0px;
  position: relative;
  float: top;
  margin-left: 1%;
  z-index: -1;
}

.box-container {
  width: 85%;
  height: 15px;
  display: inline-flexbox;
  margin-top: 15%;
  margin-bottom: 12%;
  color:rgb(75, 72, 72);
  margin-left: 1%;
}

.box {
  width: 90%;
  height: 8px;
  background-color: #cecec9;
  position: inherit;

}

.otherBox {
  width: 30px;
  height: 1px;
  position: relative;
  width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid rgb(99, 96, 96);
}

.first,
.second,
.third {
  font-size: 13px;
  display: inline;
}

.third {
  float: right;
  margin-right: 9%;
}

.second {
  margin-left: 20%;
}


.pictureModal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  z-index: 10;
}

.picture-modal-content {
  display: flex;
  height: 80%;
  width: 80%;
  background-color:rgba(212, 211, 199, 0.979);
  box-shadow: 10px 25px 50px 10px rgba(71, 71, 70, 0.424), 0 12px 25px 0 rgba(0, 0, 0, 0.19);
  z-index: 5;
  justify-content: center;
  border-style: unset;
  /* border-radius: 2%; */
}

.modalPicture {
  justify-content: center;
  width: auto;
  height: 500px;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin-top: 5%;
}

.modalPictures {
  display: inline;
}

.modalPictureBar {
  display: flex;
  flex-direction: column;
  float: right;
  right: 12%;
  position: fixed;
  margin-top: 2%;
  margin-bottom: 2%;
}

.picContainer {
  margin-bottom: 20px;
}

.charAttBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 13px;
}

.charRadios {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.review-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(236, 27, 27, 0);
  z-index: 5;
}

.review-modal-content {
  /* display: flex; */
  height: 95%;
  width: 50%;
  background-color:rgb(195, 214, 241);
  box-shadow: 10px 25px 50px 10px rgba(71, 71, 70, 0.424), 0 12px 25px 0 rgba(0, 0, 0, 0.19);
  z-index: 5;
  justify-content: center;
  border-style: inherit;
}

.review-modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-modal-subtitle {
  margin-top: 0;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2%;
}

.overall-stars {
  margin: 0;
  margin-left: 3%;
}

.recommend-form {
  margin-left: -4%;
}

.overall-rating,
.recommend-title {
  margin: 0;
}

.recommend-title {
  padding-right: 39px;
}

.characteristics-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  /* align-items: center; */
  justify-content: space-around;
  margin: 1% 10% 1% 10%;

}

.charRadios-title {
  font-size: 17px;
}

label {
  font-size: 14px;
}

textarea {
  resize: both;
}

.summary-form,
.body-form,
.name-form {
  display: flex;
  justify-content: center;
  margin: 3% 0 0 0;
}

.email-form {
  display: flex;
  margin-left: 8%;
  margin-top: 2%;
}

.summary-input,
.body-input,
.name-input,
.email-input {
  margin-left: 3%;
  width: 58%;
}

.email-input {
  margin-left: 15%;
}

.body-input {
  margin-left: 6%;
  height: 15%;
}

.name-warning,
.email-warning {
  display: block;
  width: 100%;
  margin: -.1% 0 0% 33%;
  color: rgb(168, 26, 55);
}

.email-warning {
  margin-left: 33%;
}
.submit-review {
  border-style: solid;
  background-color: rgb(115, 177, 141);
  height: 50px;
  width: 150px;
  font-weight: 600;
  border-width: thin;
  /* margin: -2% 2% 0 10%; */
  left: 62%;
  top: 88%;
  position: fixed;
  transition: 1s;
}

.submit-review:hover {
  background-color: rgb(55, 194, 113);
}

.radio-star {
  display: none;
}

.starPhrase {
  margin-left: 25%;
}

.iRecommend {
  display: inline;
  margin-left: 1%;
  color: rgb(61, 58, 58);
  margin-bottom: 25px;
}

.checkMark {
  margin-bottom: 2%;
}

.filteredBy {
  color:rgb(104, 103, 103);
  margin-top: 5%;
  margin-bottom: 1%;
  transition: 5s;
}

.filterPlaceholder {
  height: 69px;
}


.clearFilters {
  display: inline;
  font-weight: bold;
  color: rgb(53, 52, 52);
}

.characteristics-box {
  margin-top: -9%;
}

.minimumChars {
  margin-left: 33%;
}

.submitModalPictureBar {
  display: inline-flex;
  margin-top: 2%;
  margin-left: 8%;
}

.submitModalPictures {
  width: 80px;
  height: 65px;
  margin-right: 3%;
  display: block;
}

.emptySubmitPhotos {
  width: 40%;
}

.submitPhotosHeader {
  display: flex;
  margin-top: 2%;
}

.submitPhotosTitle {
  margin: 0 5% 0 8%;
}

.formValidation {
  position: fixed;
  left: 62%;
  top: 84%;
  color: red;
}